.newProduct {
  flex: 4;
}
.addProductTitle {
  text-align: center;
}
.newProductContainer {
  width: 650px;
  margin: auto;
  background-color: rgba(177, 168, 168, 0.384);
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.addProductForm {
  margin: 10px auto;
  display: flex;
  width: 590px;
  justify-content: space-around;
}
/* .addProductContainer2 {
  padding-right: 10px;
} */

.addProductItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addProductItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addProductItem > input {
  padding: 10px;
}

.addProductItem > select {
  padding: 10px;
}

.addProductButton {
  margin: 10px auto;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
  width: 150px;
}
